In [1]:
!pip install keras

Requirement already satisfied: keras in c:\users\keun ho ryu\appdata\local\programs\python\python310\lib\site-packages (2.15.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
50%3

2

In [12]:
print(2**3)

8

In [16]:
250 + 100 + 400

750

In [19]:
b = 250 + 100 + 400

In [22]:
b/2

375.0

In [23]:
s = 'Bold'

In [24]:
s

'Bold'

In [26]:
'My name is', s

('My name is', 'Bold')

In [27]:
x += 5

In [28]:
x

755

In [29]:
x += 5

In [30]:
x

760

In [31]:
print(type("text"))

<class 'str'>

In [32]:
student_name = "Alice"
print(student_name)

Alice

In [35]:
print(text)

HI

In [34]:
text='HI'

In [37]:
student_name = "Alice"
print("my name is " + student_name + " !!")

my name is Alice !!

In [38]:
student_age = 19
print("My age is " + str(student_age) + " !!")

My age is19!!

In [39]:
type(student_age)

int

In [41]:
print("My age is " + str(student_age) + " !!")

My age is 19 !!

In [45]:
student_name = "Alice"
print(f"my name is {student_name} !!")

my name is Alice !!

In [46]:
discount_rate = 0.125
print(f"The discount rate is {discount_rate:.1%} !!")

The discount rate is 12.5% !!

In [47]:
print("python".capitalize())

Python

In [49]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("The average temperature for each month is {} degrees in June and {} degrees in July.".format(monthly_average_temperatures[5], monthly_average_temperatures[6]))

The average temperature for each month is 22 degrees in June and 27 degrees in July.

In [63]:
monthly_average_temperatures[0:7:3]

[6, 15, 27]

In [64]:
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)

['alpha', 'beta']

In [66]:
texts.pop()

'beta'

In [67]:
texts

['alpha']

In [68]:
monthly_average_temperatures

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]

In [69]:
monthly_average_temperatures.remove(27)

In [70]:
monthly_average_temperatures

[6, 7, 9, 15, 20, 22, 26, 23, 17, 12, 7]

In [71]:
print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [74]:
a = [1, 2, 3]
a.append([4, 5, 6])
print(a)

[1, 2, 3, [4, 5, 6]]

In [90]:
temperature = 20

In [91]:
if temperature>30:
    print("I am going to buy an ice-cream")
else:
    print("I am going to buy nothing")

I am going to buy nothing

In [94]:
if temperature==20:
    print("I am going to buy an ice-cream")
elif temperature<=15:
    print("I am going to buy cola")
else:
    print("I am going to buy nothing")

I am going to buy an ice-cream

In [95]:
print(22 < 20)

False

In [96]:
print(19 < 20)

True

In [97]:
print(type(19 < 20))

<class 'bool'>

In [101]:
DEBUG=False

In [102]:
DEBUG

False

In [103]:
if DEBUG:
    print("reduce dataset")
else:
    print("full dataset")

full dataset

In [111]:
student_name = "Alice"
student_age = 15
if not (student_age >= 10) or (student_age > 20):
  print("{}は10代です。".format(student_name))

In [113]:
no_judgement = False
student_name = "Alice"
student_age = 19

if not(no_judgement):
    if student_age < 20:
        print("{}は20歳未満です。".format(student_name))
    else:
        print("{}は20歳以上です。".format(student_name))
else:
    print("年齢の判定はしません。")

Aliceは20歳未満です。

In [122]:
for number in numbers:
  print(number)

1
10
20
30
40
50
60
70
80
90

In [120]:
numbers = [1, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [121]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 10
2 20
3 30
4 40
5 50
6 60
7 70
8 80
9 90

In [118]:
len(numbers)

10

In [123]:
user_ids = ("A081", "A114", "A186")
for user_id in user_ids:
  print(user_id)

A081
A114
A186

In [124]:
text = "Python"
for character in text:
  print(character)

P
y
t
h
o
n

In [125]:
for i in range(5, 10, 2):
  print(i)

5
7
9

In [126]:
for i in range(9, -1, -1):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [127]:
for i in reversed(range(10)):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [128]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i, temperature in enumerate(monthly_average_temperatures):
  print("{}月の平均気温は{}度です。".format(i+1, temperature))

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [129]:
MONTH_NUMBERS = list(range(1,13))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for month_number, temperature in zip(MONTH_NUMBERS, monthly_average_temperatures):
  print("{}月の平均気温は{}度です。".format(month_number, temperature))

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [130]:
num = 0
while num < 10:
  print(num)
  num += 3

0
3
6
9

In [133]:
num = 0
while True:
  print(num)
  num += 3
  if num >= 10:
    break

0
3
6
9